.ArticleContent {
	margin-top: 250px;

    &--category {
        color: $color-white;
		@include font-title;
        text-transform: lowercase;
		@include rotate(270deg);
		position: absolute;
		left: -52px;
		@include font-size(24px);
		top: 340px;
    }
	
	&--thumbnail {
		height: 280px;
		width: calc(100% + 20px);
		left: -10px;
		position: absolute;
		top: -30px;
		background-size: cover;
	}
	
    &--location {
		text-align: center; 
		margin-bottom: 1em;
    	font-weight: 700;
		@include font-size(12px);
		
		&::before {
			content: "\f3a3";
			margin-right: .5em;
		}
    }
	
    &--title {
		text-transform: uppercase;
		text-align: center;
		@include font-size(24px);
		margin-bottom: 1em;
    }
	
	&--intro {
		@include display(flex);
		flex-direction: column;
	
		.ArticleDate {
			margin-bottom: 20px;
			
			&--year {
				@include rotate(270deg);
				color: $color-gray-light;
				position: absolute;
				transform-origin: top right;
				left: 0;
				line-height: 0;
			}
			
			&--day {
				@include font-size(33px);
				margin-left: 15px;
				display: block;
				
				line-height: 0.7em;
			}
			
			&--month {
				line-height: 0.7em;
				text-transform: uppercase;
				@include font-size(11px);
				margin-left: 15px;
			}
			
			@media screen and (min-width: 380px) {
				flex-grow: 1;
				margin-right: 1em;
			}
		}

		&--subtitle {
			@include font-size(11px);
			font-style: italic;
			color: $color-gray-light;
			font-weight: 400;
			line-height: $base-line-height;

			&::after {
				content: '';
				display: block;
				width: 30px;
				height: 1px;
				margin: 1.5em 0 2.2em;
				background-color: $color-black;
			}		
			
			@media screen and (min-width: 380px) {
				flex-grow: 2;
			}
		}
		
		@media screen and (min-width: 380px) {
			flex-direction: row;
		}
	}
	
    &--summary {
		margin-bottom: 1em;
		
		&::first-letter {
			font-size: 3.9em;
			float: left;
			line-height: 1em;
			padding-right: .1em;
		}
    }
	
	&--imgContent {
		height: 280px;
		width: calc(100% + 20px);
		left: -10px;
		position: absolute;
		background-size: cover;
	}

    &--content {
		margin-top: 320px;
        
		&h1, h2, h3, h4, h5, h6 {
			text-transform: uppercase;
		}
    }	
}