.SubNav {
	position: absolute;
    right: -15px;
	
	div {
		cursor: pointer;
		width: $header-height;
		height: $header-height;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $color-white;
		box-shadow: 0 25px 25px 0 rgba($color-black, .15);
		margin-bottom: 1em;
		@include border-radius(50%);
	}
}