$color-black: #1a1917;
$color-white: #fff;
$color-gray: #494a4d;
$color-gray-light: #949599;
$color-gray-verylight: #e8e9ed;;
$color-gray-ultralight: #f0f1f5;
$color-gray-dark: #353638;

$color-orange: #FA6E69;
$color-yellow: #FFCE74;
$color-green: #91C46C;
$color-blue: #4C8DA6;
$color-purple: #5B608C;
